<hc-modal>
  <hc-modal-header>Admin Access</hc-modal-header>
  <hc-modal-body>
    <div class="form-container">
      <hc-form-field>
        <hc-label>Please Enter Password:</hc-label>
        <input type="password" hcInput [formControl]="password" required />
        <hc-error>Password cannot be empty</hc-error>
      </hc-form-field>      
    </div>
  </hc-modal-body>
  <hc-modal-footer>
      <button hc-button buttonStyle="link" (click)="cancel()">Cancel</button>
      <button hc-button buttonStyle="primary" (click)="close()" *ngIf="password.valid">Ok</button>
  </hc-modal-footer>
</hc-modal>