<hc-navbar appIcon="../../../assets/svg/Giving Tree.svg" brandIcon="../../../assets/icons/android-chrome-192x192.png" [homeUri]="['/list']" [fixedTop]="false">
  <hc-navbar-link uri="list" linkText="Needed"></hc-navbar-link>
  <hc-navbar-link uri="reserved" linkText="Reserved"></hc-navbar-link>
  <hc-navbar-link uri="release" linkText="Release"></hc-navbar-link>
  <!-- <hc-navbar-link uri="apps" linkText="Apps"></hc-navbar-link> -->
  <!-- <hc-icon class="hc-navbar-icon" fontSet="fa" fontIcon="fa-question-circle-o" [hcPop]="options"></hc-icon> -->
  <!-- <hc-icon class="hc-navbar-icon" fontSet="fas" fontIcon="fa-sign-out-alt" (click)="auth.logout()"></hc-icon> -->
  <span class="hc-navbar-vertical-separator"></span>
  <div class="hc-navbar-username" [hcPop]="user">
      <span class="hc-text-ellipsis">Login</span>
      <hc-icon fontSet="fa" fontIcon="fa-angle-down"></hc-icon>
  </div>
  <hc-navbar-mobile-menu appSwitcher="false">
    <hc-list>
        <hc-list-item routerLink="list" routerLinkActive="active-link">
          <span hcListLine>Needed</span>
        </hc-list-item>
        <hc-list-item routerLink="reserved" routerLinkActive="active-link">
          <span hcListLine>Reserved</span>
        </hc-list-item>
        <hc-list-item routerLink="release" routerLinkActive="active-link">
          <span hcListLine>Release</span>
        </hc-list-item>
        <!-- <hc-list-item routerLink="apps" routerLinkActive="active-link">
          <span hcListLine>Apps</span>
        </hc-list-item> -->
        <hc-list-item (click)="adminLogin()">
            <span hcListLine>Admin Login</span>
        </hc-list-item>
    </hc-list>
  </hc-navbar-mobile-menu>
</hc-navbar>

<!-- <hc-pop #options>
  <ul class="list-options">
    <li>
      <a href="" target="_blank">Help Topics</a>
    </li>
  </ul>
</hc-pop> -->

<hc-pop #user>
  <ul class="list-options">
    <li>
      <div class="clickable clickable-text" (click)="adminLogin()">Admin Login</div>
    </li>
  </ul>
</hc-pop>
