/*cornwallia colors*/
$navbar-black: #333;

/*primary colors*/
$primary-blue: #00AEEF;
$primary-green: #00A859;
$secondary-purple: #6E53A3;
$hc-orange: #F8961D;

/*ui colors*/
$header-blue: #384655;
$drawer-blue: #5f6870;
$drawer-border: #444;
$subheader-gray: #D7DDE4;
$body-gray: #F0F3F6;
$white: #ffffff;
$third-column-gray: #5E676F;
$error-red: #F13C45;
$mid-green: #038944;
$dark-green: #1A6B36;
$border-line: #7f7f7f;
$border-line-blue: #286890;
$border-line-darkblue: #2E4959;
$hc-red: #990000;
$ghost-gray: #d9d9d9;
$button-white-text: #8BB1DA;
$trigger-button-container: #2e546d;
$modal-color: #F8F8F8;
$drop-down-color: #F8F8F8;
$subheader-border-color:#c8c8c8;
$hr-color:#dddddd;
$ss-content-color: #f7f7f7;
$ss-time-line-color: #e0e2e3;
$shadow-gray: #999999;
$light-green-message:#e8f1e0;
$light-gray-back-ground:#e8e8e8;
$action-bar-back-ground: #e5e5e5;
$e-gray:#eeeeee;
$button-blue:#286c96;
$overview-divider-line: #C9C9C9;
$sub-nav-blue: #A9D1E2;
$ha-bar: #2C8FB6;
$pos-bar: #E4E4E4;
$filter-subheader-gray: #919293;
$slate-gray: #83888C;
$menu-gray: #d9d9d9;
$fiftieth-shade-of-gray: #c2c2c2;
$details-back-ground:#F0F3F6;
$fiters-divider-line: #d7d7d7;
$highlighted-month: #368AC6;
$arrow-green: #48A361;
$arrow-red: #DF4E4D;
$filter-blue: #1879A2;

/*christmas colors*/
$christmas-red: #a81817;
$christmas-green: #344d2f;
//$christmas-gold: #fac57d;
$christmas-gold: #f7a535;
$christmas-gray: #c8beb9;
$christmas-silver: #f0f4f7;

/*text colors*/
$hc-text: #333333;
$hc-gray: #6D6E70;
$hc-dark-blue: #006D9A;
$hc-label-text: #767676;
$module-severity-text: #E79952;
$offblack: #333;

/*secondary colors*/
$red-orange: #F05323;
$pink: #EF4767;
$light-pink: #F8C8DB;
$light-transparent-red: #FFE9E8;
$magenta: #A94C9D;
$brown: #553E36;
$tan: #EBBA82;
$dark-green: #006C4E;
$light-green: #9FD4AE;
$mid-green: #038944;
$yellow: #F5ED56;
$yellow-orange: #E7C447;
$purple-gray: #776C7F;
$dark-gray: #951C1E;
$mid-purple: #60488F;
$dark-purple: #513E7A;


$gray-100: #f1f1f1;
$gray-200: #e0e0e0;
$gray-300: #cccccc;
$gray-400: #a1a1a1;
$gray-500: #6D6E70; //HC SG: HC Gray
$gray-600: #515353;
$gray-700: #333333; // //HC SG: HC Text

$orange: #f8961D; //HC SG: HC Orange
$red: #f13c45; //HC SG: Error Red
$magenta: #a94c9d; //HC SG: Magenta
$denim-blue: #226bb4;
$teal: #00acac;
$blue: #2AACE3;
$green: #1c9327;
$gold: #EFD92F;
$light-red:#E8A6A9;
$cerulean: #00aeef;


/*$charcoal-blue: #384655;
$white: #ffffff;
$offwhite: #f9f9f9;
$purple: #714abc;
$azure: #007bff;

$light-blue: #bfeeff;

$shadow: rgba(0, 0, 0, 0.1);

$slate-gray-100: #f0f3f6;
$slate-gray-200: #d7dde4;
$slate-gray-300: #c0c5cc;
$slate-gray-400: #708090;
$slate-gray-500: #5e676f;
$slate-gray-600: #4f565c;

$gray-200:  #e0e0e0;
$gray-300: #cccccc;
$gray-400: #a5a5a5;
$gray-500: #707070;
$gray-600: #515353;
$gray-700: #363636;

$teal: #00acac;
$red: #f13c45;
$denim-blue: #226bb4;
$fuchsia: #bf39bf;
$blue: #2174ff;
$green: #1c9327;
$orange: #f1803c;
$gold: #EFD92F;

$light-green: #00A859;

*/
